In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./data/midwest.csv")

In [3]:
data

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [26]:
data = data.assign(poppercent = (data['poptotal'] - data['popadults']) / data['poptotal'])
data.head()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,poppercent,classification
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,0.344863,middle
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,0.367212,middle
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,0.355013,middle
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,0.374408,middle
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,0.318197,middle

In [27]:
data.sort_values('poppercent', ascending = False).head()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,poppercent,classification
230,1233,ISABELLA,MI,0.034,54624,1606.588240,52212,635,1020,456,...,48498,88.785149,24.854633,21.269687,28.479147,13.966294,0,AHR,0.515012,large
404,3020,MENOMINEE,WI,0.021,3890,185.238095,416,0,3469,0,...,3820,98.200514,48.691099,64.308477,43.312464,18.218623,0,LHR,0.505913,large
281,2013,ATHENS,OH,0.030,59549,1984.966670,56163,1678,167,1374,...,51002,85.647114,28.673385,29.258116,31.744281,14.324955,0,AHR,0.493207,large
247,1250,MECOSTA,MI,0.034,37308,1097.294120,35739,978,258,187,...,32627,87.453093,25.068195,25.543614,28.229964,13.168572,0,AHR,0.490592,large
154,715,MONROE,IN,0.024,108978,4540.750000,102752,2835,216,2713,...,93693,85.974233,19.439019,14.346337,22.998998,9.575163,1,HHU,0.473582,large

In [28]:
data = data.assign(classification = 
                   np.where(data['poppercent'] >= 0.4, 'large',
    np.where(data['poppercent']>= 0.3, 'middle', 'small')
))

In [19]:
data.value_counts('classification')

classification
middle    396
large      32
small       9
Name: count, dtype: int64

In [24]:
data.assign(asianpercent = data['popasian'] / data['poptotal']).sort_values('asianpercent')[['state', 'county', 'asianpercent']].head(10)

    state     county  asianpercent
404    WI  MENOMINEE      0.000000
105    IN     BENTON      0.000106
109    IN    CARROLL      0.000159
358    OH     VINTON      0.000270
390    WI       IRON      0.000325
85     IL      SCOTT      0.000532
112    IN       CLAY      0.000607
261    MI     OSCODA      0.000638
340    OH      PERRY      0.000665
73     IL      PIATT      0.000707